<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WorkspaceRef" value="N/A" />
    <add key="ProjectRef" value="N/A" />
    <add key="ValuesToFetch" value="FormattedID, Iteration, Name, Tasks, StartDate, Project, Owner"/>
    <add key="Login" value="N/A" />
    <add key="Password" value="N/A" />
    <add key="RallyEndPoint" value="N/A" />
    <add key="ProcessCodeReviewsPythonScript" value="D:\PythonProcessing\PythonScripts\ProcessCodeReviews.py" />
  </appSettings>
</configuration>


